<div class="container">
  <header>
    <p>Quem é o autal rei do picote?</p>
    <img src="assets/icons/king-of-picote.png" alt="">
    <h1>{{ first }}</h1>
  </header>
  
  <section>
    <ul>
      <li *ngFor="let doc of document | async">
        <h2 class="point">{{ doc.point }}</h2>
        <h3 class="name">{{ doc.name }}</h3>
        <div class="buttons">
          <button class="plus" (click)="plus(doc)">+</button>
          <button class="minus" (click)="minus(doc)">-</button>
        </div>
      </li>
    </ul>
  </section>
</div>