<div class="container">
  <header>
    <h1>Quem é o autal rei do picote?</h1>
    <img src="assets/king.png" alt="Rei do Picote">
    <h2>{{ first }}</h2>
  </header>
  
  <section>
    <ul>
      <li *ngFor="let doc of document | async">
        <span class="name">{{ doc.name }}</span>
        <span class="point">{{ doc.point }}</span>
        <button class="plus" (click)="plus(doc)">+</button>
        <button class="minus" (click)="minus(doc)">-</button>
      </li>
    </ul>
  </section>
</div>